include _layouts/cv.pug
// Corpo da Página
.w3-content.w3-black.w3-margin-top
  // Colunas
  .w3-row-padding
    // Coluna da Esquerda
    .w3-third
      .w3-white.w3-text-grey.w3-card-4
        .w3-display-container
          img(src='./images/01.png' alt='Avatar')
          .w3-display-bottomleft.w3-container.w3-text-black
            h2 Camila Oliveira
        .w3-container
          p
            i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-large.w3-text-teal
            | Analista Desenvolvedora Pleno
          p
            i.fa.fa-home.fa-fw.w3-margin-right.w3-large.w3-text-teal
            | S&atilde;o Paulo, BR
          p
            i.fa.fa-envelope.fa-fw.w3-margin-right.w3-large.w3-text-teal
            | contato@studiourbanna.com.br
          p
            i.fa.fa-phone.fa-fw.w3-margin-right.w3-large.w3-text-teal
            | (+55 11) 9827-54066
          hr
          p.w3-large
            b
              i.fa.fa-asterisk.fa-fw.w3-margin-right.w3-text-teal
              | Habilidades
          p Web
          .w3-light-grey.w3-round-xlarge.w3-small
            .w3-container.w3-center.w3-round-xlarge.w3-teal(style='width:80%') 80%
          p Android
          .w3-light-grey.w3-round-xlarge.w3-small
            .w3-container.w3-center.w3-round-xlarge.w3-teal(style='width:65%')
              .w3-center.w3-text-white 75%
          p Google Analytics
          .w3-light-grey.w3-round-xlarge.w3-small
            .w3-container.w3-center.w3-round-xlarge.w3-teal(style='width:45%') 45%
          p AWS
          .w3-light-grey.w3-round-xlarge.w3-small
            .w3-container.w3-center.w3-round-xlarge.w3-teal(style='width:15%') 15%
          br
          p.w3-large.w3-text-theme
            b
              i.fa.fa-globe.fa-fw.w3-margin-right.w3-text-teal
              | Idiomas
          p Portugu&ecirc;s
          .w3-light-grey.w3-round-xlarge
            .w3-round-xlarge.w3-teal(style='width:100%')
          p Ingl&ecirc;s
          .w3-light-grey.w3-round-xlarge
            .w3-round-xlarge.w3-teal(style='width:71%')
          p Franc&ecirc;s
          .w3-light-grey.w3-round-xlarge
            .w3-round-xlarge.w3-teal(style='width:65%')
          br
      br
      // Saindo da Coluna
    // Coluna da Direita
    .w3-twothird
      .w3-container.w3-card.w3-white.w3-margin-bottom
        h2.w3-text-grey.w3-padding-16
          i.fa.fa-suitcase.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal
          | Experi&ecirc;ncias Profissionais
        .w3-container
          h5.w3-opacity
            b Analista Desenvolvedora Pleno / BRQ
          h6.w3-text-teal
            i.fa.fa-calendar.fa-fw.w3-margin-right
            | Fev 2021 - 
            span.w3-tag.w3-teal.w3-round Atual
          p Realiza&ccedil;&atilde;o de sites e aplica&ccedil;&otilde;es para clientes.
          hr
        .w3-container
          h5.w3-opacity
            b Analista Desenvolvedora Júnior / TCS
          h6.w3-text-teal
            i.fa.fa-calendar.fa-fw.w3-margin-right
            | Ago 2019 - Fev 2021
          p Realiza&ccedil;&atilde;o de sites e aplica&ccedil;&otilde;es para clientes.
          hr
        .w3-container
          h5.w3-opacity
            b Estagi&aacute;ria / ETEC Barueri
          h6.w3-text-teal
            i.fa.fa-calendar.fa-fw.w3-margin-right
            | Jan 2018 - Jun 2019
          p An&aacute;lise, Suporte e Desenvolvimento de aplica&ccedil;&otilde;es.
          hr
      .w3-container.w3-card.w3-white
        h2.w3-text-grey.w3-padding-16
          i.fa.fa-certificate.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal
          | Forma&ccedil;&atilde;o
        .w3-container
          h5.w3-opacity
            b Fatec Carapicuiba
          h6.w3-text-teal
            i.fa.fa-calendar.fa-fw.w3-margin-right
            | Ago 2016 - Nov 2020
          p Analise e Desenvolvimento de Sistemas
          hr
        .w3-container
          h5.w3-opacity
            b UFOP - Universidade Federal de Ouro Preto
          h6.w3-text-teal
            i.fa.fa-calendar.fa-fw.w3-margin-right
            | Mar 2012 - Mar 2016
          p Bacharelado em Administra&ccedil;&atilde;o P&uacute;blica
          hr
        .w3-container
          h5.w3-opacity
            b ETEC Guaracy Silveira
          h6.w3-text-teal
            i.fa.fa-calendar.fa-fw.w3-margin-right
            | Fev 2011 - Jul 2012
          p Tecnico em Informatica para Internet
          br
      // Saindo da Coluna
    // Saindo das Colunas
  // Saindo do Conteudo

footer.w3-container.w3-white.w3-center.w3-margin-top
  .footer-landr
  include _includes/footer-cv.pug