p.brand
    | Copyright ©
    script.
        document.write(new Date().getFullYear());
    |
    | camila 
    strong l.
    | oliveira
    |
    | by 
    a.is-urb.is-bold(href='http://studiourbanna.github.io') stdurb
    |. Credits:
    a(href='https://codepen.io/yagoestevez') Yago Estevez

// partial
script(src='https://unpkg.com/react@16/umd/react.production.min.js')
script(src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js')
script(src='./assets/js/script.js')